# Cloudflare Calls (Realtime) の設定
# https://developers.cloudflare.com/calls/get-started/

# Cloudflare Calls App ID
NUXT_PUBLIC_CF_APP_ID=your_app_id_here

# Cloudflare Calls API Token
NUXT_PUBLIC_CF_TOKEN=your_api_token_here
